@model NexxtSao.Models.MVC.Odontodiagrama
@{
    ViewBag.Title = "CreateOdontodiagrama";
}
<br />
<p></p>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <h2>@Resources.Resource.ImgOdontogramaEstimate</h2>
                <p></p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ClientId)
                    @Html.HiddenFor(model => model.EstimateId)
                    <div>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 1031.69 347.14" style="enable-background:new 0 0 1031.69 347.14;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #FFFFFF;
                                stroke: #000000;
                                stroke-miterlimit: 10;
                            }
                            .st1 {
                                fill: none;
                            }
                            .st2 {
                                font-family: 'MyriadPro-Regular';
                            }
                            .st3 {
                                font-size: 12px;
                            }
</style>
                        <g class="primerCuadrante superior">
                        <circle id="11.5" class="st0" cx="470.71" cy="59.45" r="12.94" />
                        <path id="11.1" class="st0" d="M491.86,38.35c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="11.3" class="st0" d="M479.86,68.61c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="11.2" class="st0" d="M479.72,69.05l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="11.4" class="st0" d="M461.56,50.3c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="464.4" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 464.4021 21.2602)" class="st2 st3">11</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="12.5" class="st0" cx="408.59" cy="59.45" r="12.94" />
                        <path id="12.1" class="st0" d="M429.75,38.35c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="12.3" class="st0" d="M417.75,68.61c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="12.2" class="st0" d="M417.6,69.05l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="12.4" class="st0" d="M399.44,50.3c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="400.29" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 400.2863 21.2602)" class="st2 st3">12</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="13.5" class="st0" cx="346.48" cy="59.45" r="12.94" />
                        <path id="13.1" class="st0" d="M367.63,38.35c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="13.3" class="st0" d="M355.63,68.61c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="13.2" class="st0" d="M355.49,69.05l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="13.4" class="st0" d="M337.33,50.3c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="340.17" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 340.1706 21.2602)" class="st2 st3">13</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="14.5" class="st0" cx="284.36" cy="59.45" r="12.94" />
                        <path id="14.1" class="st0" d="M305.52,38.35c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="14.3" class="st0" d="M293.51,68.61c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="14.2" class="st0" d="M293.37,69.05l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="14.4" class="st0" d="M275.21,50.3c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="280.05" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 280.0549 21.2602)" class="st2 st3">14</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="15.5" class="st0" cx="222.44" cy="59.96" r="12.94" />
                        <path id="15.1" class="st0" d="M243.59,38.85c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="15.3" class="st0" d="M231.59,69.11c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="15.2" class="st0" d="M231.44,69.55l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="15.4" class="st0" d="M213.28,50.81c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="216.13" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 216.1278 21.2602)" class="st2 st3">15</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="16.5" class="st0" cx="160.66" cy="60.51" r="12.94" />
                        <path id="16.1" class="st0" d="M181.81,39.4c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="16.3" class="st0" d="M169.81,69.66c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="16.2" class="st0" d="M169.67,70.1l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="16.4" class="st0" d="M151.51,51.35c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="152.2" y="12.74" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 152.2007 21.2602)" class="st2 st3">16</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="17.5" class="st0" cx="98.87" cy="60.51" r="12.94" />
                        <path id="17.1" class="st0" d="M120.02,39.4c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="17.3" class="st0" d="M108.02,69.66c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="17.2" class="st0" d="M107.88,70.1l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="17.4" class="st0" d="M89.72,51.35c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85L89.47,51.4" />
                        <rect x="90.38" y="13.79" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 90.3837 22.313)" class="st2 st3">17</text>
        </g>
                        <g class="primerCuadrante superior">
                        <circle id="18.5" class="st0" cx="37.45" cy="60.31" r="12.94" />
                        <path id="18.1" class="st0" d="M58.6,39.2c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="18.3" class="st0" d="M46.6,69.46c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="18.2" class="st0" d="M46.46,69.9L58.11,81.4l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84l-11.7,11.7
	        c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="18.4" class="st0" d="M28.3,51.15c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="31.1" y="13.79" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 31.0979 22.313)" class="st2 st3">18</text>
        </g>
                        <g class="primerCuadrante inferior">
                        <circle id="51.5" class="st0" cx="470.51" cy="143.87" r="12.94" />
                        <path id="51.1" class="st0" d="M491.66,122.76c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="51.3" class="st0" d="M479.66,153.02c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="51.2" class="st0" d="M479.52,153.46l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="51.4" class="st0" d="M461.36,134.72c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="464.2" y="97.15" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 464.2006 105.6744)" class="st2 st3">51</text>
        </g>
                        <g class="primerCuadrante inferior">
                        <circle id="52.5" class="st0" cx="408.39" cy="143.87" r="12.94" />
                        <path id="52.1" class="st0" d="M429.55,122.76c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="52.3" class="st0" d="M417.54,153.02c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="52.2" class="st0" d="M417.4,153.46l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="52.4" class="st0" d="M399.24,134.72c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="400.08" y="97.15" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 400.0848 105.6744)" class="st2 st3">52</text>
        </g>
                        <g class="primerCuadrante inferior">
                        <circle id="53.5" class="st0" cx="346.28" cy="143.87" r="12.94" />
                        <path id="53.1" class="st0" d="M367.43,122.76c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="53.3" class="st0" d="M355.43,153.02c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="53.2" class="st0" d="M355.29,153.46l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="53.4" class="st0" d="M337.12,134.72c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="339.97" y="97.15" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 339.9691 105.6744)" class="st2 st3">53</text>
        </g>
                        <g class="primerCuadrante inferior">
                        <circle id="54.5" class="st0" cx="284.16" cy="143.87" r="12.94" />
                        <path id="54.1" class="st0" d="M305.31,122.76c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="54.3" class="st0" d="M293.31,153.02c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="54.2" class="st0" d="M293.17,153.46l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="54.4" class="st0" d="M275.01,134.72c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="279.85" y="97.15" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 279.8533 105.6744)" class="st2 st3">54</text>
        </g>
                        <g class="primerCuadrante inferior">
                        <circle id="55.5" class="st0" cx="222.23" cy="144.37" r="12.94" />
                        <path id="55.1" class="st0" d="M243.39,123.26c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="55.3" class="st0" d="M231.39,153.53c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="55.2" class="st0" d="M231.24,153.97l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="55.4" class="st0" d="M213.08,135.22c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="215.93" y="97.15" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 215.9263 105.6744)" class="st2 st3">55</text>
        </g>
                        <g class="cuartoCuadrante superior">
                        <circle id="81.5" class="st0" cx="471.97" cy="226.8" r="12.94" />
                        <path id="81.1" class="st0" d="M493.13,205.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="81.3" class="st0" d="M481.12,235.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="81.2" class="st0" d="M480.98,236.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="81.4" class="st0" d="M462.82,217.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="465.66" y="180.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 465.6649 188.603)" class="st2 st3">81</text>
        </g>
                        <g class="cuartoCuadrante superior">
                        <circle id="82.5" class="st0" cx="409.86" cy="226.8" r="12.94" />
                        <path id="82.1" class="st0" d="M431.01,205.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="82.3" class="st0" d="M419.01,235.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="82.2" class="st0" d="M418.87,236.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="82.4" class="st0" d="M400.7,217.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="401.55" y="180.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 401.5491 188.603)" class="st2 st3">82</text>
        </g>
                        <g class="cuartoCuadrante superior">
                        <circle id="83.5" class="st0" cx="347.74" cy="226.8" r="12.94" />
                        <path id="83.1" class="st0" d="M368.89,205.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="83.3" class="st0" d="M356.89,235.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="83.2" class="st0" d="M356.75,236.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="83.4" class="st0" d="M338.59,217.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="341.43" y="180.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 341.4333 188.603)" class="st2 st3">83</text>
        </g>
                        <g class="cuartoCuadrante superior">
                        <circle id="84.5" class="st0" cx="285.62" cy="226.8" r="12.94" />
                        <path id="84.1" class="st0" d="M306.78,205.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="84.3" class="st0" d="M294.78,235.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="84.2" class="st0" d="M294.63,236.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="84.4" class="st0" d="M276.47,217.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="281.32" y="180.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 281.3176 188.603)" class="st2 st3">84</text>
        </g>
                        <g class="cuartoCuadrante superior">
                        <circle id="85.5" class="st0" cx="223.7" cy="227.3" r="12.94" />
                        <path id="85.1" class="st0" d="M244.85,206.19c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="85.3" class="st0" d="M232.85,236.45c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="85.2" class="st0" d="M232.71,236.9l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="85.4" class="st0" d="M214.55,218.15c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="217.39" y="180.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 217.3905 188.603)" class="st2 st3">85</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="41.5" class="st0" cx="471.97" cy="310.8" r="12.94" />
                        <path id="41.1" class="st0" d="M493.13,289.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="41.3" class="st0" d="M481.12,319.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="41.2" class="st0" d="M480.98,320.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="41.4" class="st0" d="M462.82,301.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="465.66" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 465.6649 272.6027)" class="st2 st3">41</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="42.5" class="st0" cx="409.86" cy="310.8" r="12.94" />
                        <path id="42.1" class="st0" d="M431.01,289.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="42.3" class="st0" d="M419.01,319.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="42.2" class="st0" d="M418.87,320.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="42.4" class="st0" d="M400.7,301.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="401.55" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 401.5491 272.6027)" class="st2 st3">42</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="43.5" class="st0" cx="347.74" cy="310.8" r="12.94" />
                        <path id="43.1" class="st0" d="M368.89,289.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="43.3" class="st0" d="M356.89,319.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="43.2" class="st0" d="M356.75,320.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="43.4" class="st0" d="M338.59,301.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="341.43" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 341.4333 272.6027)" class="st2 st3">43</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="44.5" class="st0" cx="285.62" cy="310.8" r="12.94" />
                        <path id="44.1" class="st0" d="M306.78,289.69c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="44.3" class="st0" d="M294.78,319.95c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="44.2" class="st0" d="M294.63,320.39l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="44.4" class="st0" d="M276.47,301.64c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="281.32" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 281.3176 272.6027)" class="st2 st3">44</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="45.5" class="st0" cx="223.7" cy="311.3" r="12.94" />
                        <path id="45.1" class="st0" d="M244.85,290.19c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="45.3" class="st0" d="M232.85,320.45c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="45.2" class="st0" d="M232.71,320.9l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="45.4" class="st0" d="M214.55,302.15c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="217.39" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 217.3905 272.6027)" class="st2 st3">45</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="46.5" class="st0" cx="161.92" cy="311.85" r="12.94" />
                        <path id="46.1" class="st0" d="M183.08,290.74c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="46.3" class="st0" d="M171.08,321c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="46.2" class="st0" d="M170.93,321.45l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="46.4" class="st0" d="M152.77,302.7c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="153.46" y="264.08" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 153.4635 272.6027)" class="st2 st3">46</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="47.5" class="st0" cx="100.13" cy="311.85" r="12.94" />
                        <path id="47.1" class="st0" d="M121.29,290.74c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="47.3" class="st0" d="M109.28,321c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="47.2" class="st0" d="M109.14,321.45l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="47.4" class="st0" d="M90.98,302.7c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="91.65" y="265.14" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 91.6464 273.6555)" class="st2 st3">47</text>
        </g>
                        <g class="cuartoCuadrante inferior">
                        <circle id="48.5" class="st0" cx="38.71" cy="311.65" r="12.94" />
                        <path id="48.1" class="st0" d="M59.87,290.54c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="48.3" class="st0" d="M47.86,320.8c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="48.2" class="st0" d="M47.72,321.24l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="48.4" class="st0" d="M29.56,302.5c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="32.36" y="265.14" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 32.3607 273.6555)" class="st2 st3">48</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="28.5" class="st0" cx="994.34" cy="59.41" r="12.94" />
                        <path id="28.1" class="st0" d="M1015.49,38.3c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="28.3" class="st0" d="M1003.49,68.56c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="28.2" class="st0" d="M1003.35,69.01l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="28.4" class="st0" d="M985.19,50.26c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="988.03" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 988.0334 21.2174)" class="st2 st3">28</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="27.5" class="st0" cx="932.22" cy="59.41" r="12.94" />
                        <path id="27.1" class="st0" d="M953.38,38.3c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="27.3" class="st0" d="M941.38,68.56c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="27.2" class="st0" d="M941.23,69.01l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="27.5" class="st0" d="M923.07,50.26c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="923.92" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 923.9177 21.2174)" class="st2 st3">27</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="26.5" class="st0" cx="870.11" cy="59.41" r="12.94" />
                        <path id="26.1" class="st0" d="M891.26,38.3c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="26.3" class="st0" d="M879.26,68.56c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="26.2" class="st0" d="M879.12,69.01l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="26.4" class="st0" d="M860.96,50.26c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="863.8" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 863.802 21.2174)" class="st2 st3">26</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="25.5" class="st0" cx="807.99" cy="59.41" r="12.94" />
                        <path id="25.1" class="st0" d="M829.15,38.3c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="25.3" class="st0" d="M817.15,68.56c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="25.2" class="st0" d="M817,69.01l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84l-11.7,11.7
	        c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="25.4" class="st0" d="M798.84,50.26c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85L798.6,50.3" />
                        <rect x="803.69" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 803.6862 21.2174)" class="st2 st3">25</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="24.5" class="st0" cx="746.07" cy="59.92" r="12.94" />
                        <path id="24.1" class="st0" d="M767.22,38.81c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="24.3" class="st0" d="M755.22,69.07c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="24.2" class="st0" d="M755.08,69.51l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="24.4" class="st0" d="M736.91,50.76c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="739.76" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 739.7592 21.2174)" class="st2 st3">24</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="23.5" class="st0" cx="684.29" cy="60.46" r="12.94" />
                        <path id="23.1" class="st0" d="M705.44,39.36c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="23.3" class="st0" d="M693.44,69.62c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="23.2" class="st0" d="M693.3,70.06l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="23.4" class="st0" d="M675.14,51.31c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="675.83" y="12.7" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 675.8321 21.2174)" class="st2 st3">23</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="22.5" class="st0" cx="622.5" cy="60.46" r="12.94" />
                        <path id="22.1" class="st0" d="M643.65,39.36c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="22.3" class="st0" d="M631.65,69.62c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="22.2" class="st0" d="M631.51,70.06l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="22.4" class="st0" d="M613.35,51.31c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="614.02" y="13.75" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 614.0151 22.2702)" class="st2 st3">22</text>
        </g>
                        <g class="segundoCuadrante superior">
                        <circle id="21.5" class="st0" cx="561.08" cy="60.26" r="12.94" />
                        <path id="21.1" class="st0" d="M582.23,39.15c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="21.3" class="st0" d="M570.23,69.42c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="21.2" class="st0" d="M570.09,69.86l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="21.4" class="st0" d="M551.93,51.11c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="554.73" y="13.75" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 554.7293 22.2702)" class="st2 st3">21</text>
        </g>
                        <g class="segundoCuadrante inferior">
                        <circle id="65.5" class="st0" cx="809.14" cy="143.83" r="12.94" />
                        <path id="65.1" class="st0" d="M830.29,122.72c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="65.3" class="st0" d="M818.29,152.98c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="65.2" class="st0" d="M818.15,153.42l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="65.4" class="st0" d="M799.99,134.67c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="802.83" y="97.11" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 802.832 105.6316)" class="st2 st3">65</text>
        </g>
                        <g class="segundoCuadrante inferior">
                        <circle id="64.5" class="st0" cx="747.02" cy="143.83" r="12.94" />
                        <path id="64.1" class="st0" d="M768.18,122.72c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="64.3" class="st0" d="M756.18,152.98c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="64.2" class="st0" d="M756.03,153.42l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="64.4" class="st0" d="M737.87,134.67c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="738.72" y="97.11" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 738.7162 105.6316)" class="st2 st3">64</text>
        </g>
                        <g class="segundoCuadrante inferior">
                        <circle id="63.5" class="st0" cx="684.91" cy="143.83" r="12.94" />
                        <path id="63.1" class="st0" d="M706.06,122.72c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="63.3" class="st0" d="M694.06,152.98c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="63.2" class="st0" d="M693.92,153.42l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="63.4" class="st0" d="M675.76,134.67c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="678.6" y="97.11" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 678.6005 105.6316)" class="st2 st3">63</text>
        </g>
                        <g class="segundoCuadrante inferior">
                        <circle id="62.5" class="st0" cx="622.79" cy="143.83" r="12.94" />
                        <path id="62.1" class="st0" d="M643.95,122.72c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="62.3" class="st0" d="M631.94,152.98c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="62.2" class="st0" d="M631.8,153.42l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="62.4" class="st0" d="M613.64,134.67c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="618.48" y="97.11" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 618.4847 105.6316)" class="st2 st3">62</text>
        </g>
                        <g class="segundoCuadrante inferior">
                        <circle id="61.5" class="st0" cx="560.86" cy="144.33" r="12.94" />
                        <path id="61.1" class="st0" d="M582.02,123.22c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="61.3" class="st0" d="M570.02,153.48c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="61.2" class="st0" d="M569.87,153.93l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="61.4" class="st0" d="M551.71,135.18c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="554.56" y="97.11" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 554.5576 105.6316)" class="st2 st3">61</text>
        </g>
                        <g class="tercerCuadrante superior">
                        <circle id="75.5" class="st0" cx="810.6" cy="226.75" r="12.94" />
                        <path id="75.1" class="st0" d="M831.76,205.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="75.3" class="st0" d="M819.76,235.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="75.2" class="st0" d="M819.61,236.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="75.4" class="st0" d="M801.45,217.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="804.3" y="180.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 804.2962 188.5602)" class="st2 st3">75</text>
        </g>
                        <g class="tercerCuadrante superior">
                        <circle id="74.5" class="st0" cx="748.49" cy="226.75" r="12.94" />
                        <path id="74.1" class="st0" d="M769.64,205.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="74.3" class="st0" d="M757.64,235.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="74.2" class="st0" d="M757.5,236.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="74.4" class="st0" d="M739.34,217.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="740.18" y="180.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 740.1805 188.5602)" class="st2 st3">74</text>
        </g>
                        <g class="tercerCuadrante superior">
                        <circle id="73.5" class="st0" cx="686.37" cy="226.75" r="12.94" />
                        <path id="73.1" class="st0" d="M707.53,205.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="73.3" class="st0" d="M695.52,235.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="73.2" class="st0" d="M695.38,236.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="73.4" class="st0" d="M677.22,217.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="680.06" y="180.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 680.0648 188.5602)" class="st2 st3">73</text>
        </g>
                        <g class="tercerCuadrante superior">
                        <circle id="72.5" class="st0" cx="624.26" cy="226.75" r="12.94" />
                        <path id="72.1" class="st0" d="M645.41,205.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="72.3" class="st0" d="M633.41,235.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="72.2" class="st0" d="M633.27,236.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="72.4" class="st0" d="M615.1,217.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="619.95" y="180.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 619.949 188.5602)" class="st2 st3">72</text>
        </g>
                        <g class="tercerCuadrante superior">
                        <circle id="71.5" class="st0" cx="562.33" cy="227.26" r="12.94" />
                        <path id="71.1" class="st0" d="M583.48,206.15c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="71.3" class="st0" d="M571.48,236.41c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="71.2" class="st0" d="M571.34,236.85l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="71.4" class="st0" d="M553.18,218.11c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="556.02" y="180.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 556.0219 188.5602)" class="st2 st3">71</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="38.5" class="st0" cx="995.6" cy="310.75" r="12.94" />
                        <path id="38.1" class="st0" d="M1016.76,289.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="38.3" class="st0" d="M1004.76,319.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="38.2" class="st0" d="M1004.61,320.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="38.4" class="st0" d="M986.45,301.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="989.3" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 989.2962 272.5599)" class="st2 st3">38</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="37.5" class="st0" cx="933.49" cy="310.75" r="12.94" />
                        <path id="37.1" class="st0" d="M954.64,289.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="37.3" class="st0" d="M942.64,319.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="37.2" class="st0" d="M942.5,320.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="37.4" class="st0" d="M924.34,301.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="925.18" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 925.1805 272.5599)" class="st2 st3">37</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="36.5" class="st0" cx="871.37" cy="310.75" r="12.94" />
                        <path id="36.1" class="st0" d="M892.53,289.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="36.3" class="st0" d="M880.52,319.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="36.2" class="st0" d="M880.38,320.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="36.4" class="st0" d="M862.22,301.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="865.06" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 865.0648 272.5599)" class="st2 st3">36</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="35.5" class="st0" cx="809.26" cy="310.75" r="12.94" />
                        <path id="35.1" class="st0" d="M830.41,289.65c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="35.3" class="st0" d="M818.41,319.91c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="35.2" class="st0" d="M818.27,320.35l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="35.4" class="st0" d="M800.1,301.6c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="804.95" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 804.949 272.5599)" class="st2 st3">35</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="34.5" class="st0" cx="747.33" cy="311.26" r="12.94" />
                        <path id="34.1" class="st0" d="M768.48,290.15c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        c-5.24,0-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="34.3" class="st0" d="M756.48,320.41c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="34.2" class="st0" d="M756.34,320.85l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="34.4" class="st0" d="M738.18,302.11c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="741.02" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 741.0219 272.5599)" class="st2 st3">34</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="33.5" class="st0" cx="685.55" cy="311.81" r="12.94" />
                        <path id="33.1" class="st0" d="M706.71,290.7c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="33.3" class="st0" d="M694.71,320.96c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="33.2" class="st0" d="M694.56,321.4l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="33.4" class="st0" d="M676.4,302.65c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="677.09" y="264.04" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 677.0948 272.5599)" class="st2 st3">33</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="32.5" class="st0" cx="623.76" cy="311.81" r="12.94" />
                        <path id="32.1" class="st0" d="M644.92,290.7c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	                s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	                c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="32.3" class="st0" d="M632.92,320.96c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	                c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	                c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="32.2" class="st0" d="M632.77,321.4l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	                l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="32.4" class="st0" d="M614.61,302.65c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	                c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="615.28" y="265.09" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 615.2778 273.6128)" class="st2 st3">32</text>
        </g>
                        <g class="tercerCuadrante inferior">
                        <circle id="31.5" class="st0" cx="562.34" cy="311.61" r="12.94" />
                        <path id="31.1" class="st0" d="M583.5,290.5c-3.92,3.94-7.85,7.88-11.78,11.81l-0.23,0.15c-0.61-0.61-3.91-3.79-9.15-3.79
	        s-8.54,3.18-9.15,3.79l-0.25,0.04c-3.9-3.99-7.79-7.98-11.7-11.95l0.25,0.22c1.39-1.39,8.91-8.64,20.85-8.64
	        c1.96,0,12.41,0.2,20.85,8.64" />
                        <path id="31.3" class="st0" d="M571.5,320.76c-0.61,0.61-3.91,3.79-9.15,3.79c-5.24,0-8.54-3.18-9.15-3.79l0.34-0.28
	        c-3.94,3.93-7.87,7.85-11.82,11.77l-0.22,0.2c1.39,1.39,8.91,8.64,20.85,8.64c1.96,0,12.41-0.2,20.85-8.64l-0.18,0.24
	        c-3.92-3.8-7.8-7.63-11.66-11.49" />
                        <path id="31.2" class="st0" d="M571.35,321.2l11.66,11.49l0.18-0.24c1.34-1.35,9.04-9.4,8.62-21.86c-0.38-11.19-7.05-18.26-8.62-19.84
	        l-11.7,11.7c0.61,0.61,3.79,3.91,3.79,9.15c0,5.24-3.18,8.54-3.79,9.15" />
                        <path id="31.4" class="st0" d="M553.19,302.45c-0.61,0.61-3.79,3.91-3.79,9.15c0,5.24,3.19,8.54,3.8,9.15l-11.7,11.7
	        c-1.39-1.39-8.64-8.91-8.64-20.85s7.25-19.46,8.64-20.85l11.45,11.74" />
                        <rect x="555.99" y="265.09" class="st1" width="51.11" height="12.54" />
                        <text transform="matrix(1 0 0 1 555.9921 273.6128)" class="st2 st3">31</text>
        </g>
    </svg>
                        <p>
                            <h5>Seleccione un color</h5>
                            <input type="button" value="Color" class="rounded btn-primary lg" id="blue" />
                            <input type="button" value="Color" class="rounded btn-danger lg" id="red" />
                            @*<input type="button" value="VERDE" class="btn btn-success" id="green" />*@
                        </p>
                        <div>
                            @Html.TextArea("myTextArea", "Detalles", new { @class = "form-control", @id = "description" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm" id="back">
                <i class="fa fa-backspace"></i>
                @Resources.Resource.ButtonBack
            </button>
            <button type="submit" class="btn btn-primary btn-sm" id="save">
                <i class="fa fa-save"></i>
                @Resources.Resource.ButtonSave
            </button>
            @*<input type="submit" value="Guardar" class="btn btn-success" id="save" />
                <input type="submit" value="Volver" class="btn btn-info" id="back" />*@
        </p>
    </div>

    <div class="col-md-1">

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            var newObj = [];
            var num = 0;
            var color = '#3498DB';
            var userId = $('#ClientId').val();
            // funcion que se ejecuta al dar click en guardar
            $('#save').on("click", function () {
                // verificar que existan dientes seleccionados
                if (newObj.length == 0) {
                    alert("Debe seleccionar los dientes para GUARDAR");
                } else {
                    var description = $('#description').val();
                    // Si existe algun detalle o descripcion se agrega al array
                    if (description !== "Detalles") {
                        newObj[num] = { 'description': description };
                    }
                    // Realizar peticion de tipo POST al controlador CreateOdontodiagrama
                    $.ajax({
                        type: 'POST',
                        url: `/Estimates/CreateOdontodiagrama/${userId}`,
                        data: {
                            data: JSON.stringify(newObj)
                        },
                        async: false,
                        success: function (response) {
                            alert("Se guardo exitosamente!");
                            top.location.href = `/Estimates/Details/` + $('#EstimateId').val();
                        },
                        error: function () {
                            console.log('Ocurrio un error!');
                        }
                    });
                }
            });

            // Al realizar click en el boton de volver redirije a la vista de Users Details
            $('#back').on("click", function () {
                top.location.href = `/Estimates/Details/` + $('#EstimateId').val();
            });

            // Verificar el color
            $('input').on("click", function () {
                var id = $(this).attr('id');
                switch (id) {
                    case 'red':
                        color = '#E74C3C';
                        break;
                    case 'green':
                        color = '#2ECC71';
                        break;
                    case 'blue':
                        color = '#3498DB';
                        break;
                };
            });

            // Capturar click en dientes
            $('path').on("click", function () {
                var ID = $(this).attr('id');
                var check = 0;
                check = newObj.findIndex(p => {
                    if (p == undefined) {
                        return false;
                    }
                    if (p.id == ID) {
                        return true;
                    }
                });
                if (check === -1) {
                    newObj[num] = { 'id': ID, 'color': color };
                    num = num + 1;
                    $(this).css('fill', color);
                    check = 0;
                } else {
                    newObj.splice(check, 1);
                    $(this).css('fill', '#FFFFFF');
                    check = 0;
                }
            });

            // Capturar click en dientes
            $('circle').on("click", function () {
                var ID = $(this).attr('id');
                var check = 0;
                check = newObj.findIndex(p => {
                    if (p == undefined) {
                        return false;
                    }
                    if (p.id == ID) {
                        return true;
                    }
                });
                if (check === -1) {
                    newObj[num] = { 'id': ID, 'color': color };
                    num = num + 1;
                    $(this).css('fill', color);
                    check = 0;
                } else {
                    newObj.splice(check, 1);
                    $(this).css('fill', '#FFFFFF');
                    check = 0;
                }
            });
        });
    </script>
}