@model NexxtSao.Models.MVC.Client

@{
    ViewBag.Title = @Resources.Resource.ViewDetail;
}
<p></p>
@*<h2>@Resources.Resource.ViewDetail</h2>*@

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header">@Resources.Resource.Orthodoncia_Paciente</h4>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6 mb-2">
                        <strong>@Html.DisplayNameFor(model => model.Historia)</strong>
                        @Html.DisplayFor(model => model.Historia)
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <strong>@Html.DisplayNameFor(model => model.Identification.TipoDocumento)</strong>
                        @Html.DisplayFor(model => model.IdentificationNumber)
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col-md-12 mb-1">
                        <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <strong>@Html.DisplayNameFor(model => model.Nacimiento)</strong>
                        @Html.DisplayFor(model => model.Nacimiento)
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <p>
                        <button type="button" class="btn btn-success btn-sm" onclick="location.href = '@Url.Action("Index", "Orthodontics", new  { clienteid = Model.ClientId})'">
                            <i class="fa fa-backspace"></i>
                            @Resources.Resource.ButtonBack
                        </button>

                        <a title="Add Item" href="@Url.Action("Create", new { id = Model.ClientId })" class="dialog-window btn btn-primary btn-sm">
                            <i class="fa fa-plus-circle"></i>
                            @Resources.Resource.Button_Add
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div>
            <div class="card">
                <h4 class="card-header">@Resources.Resource.EstimateDetail_IndeView_Titulo1</h4>
                <div class="card-body">
                    <p></p>
                    @if (Model.Orthodontics.Count == 0)
                    {
                        <h5>No Hay Item Creados</h5>
                    }
                    else
                    {
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr class="table-secondary">
                                    @*<th>
                            Visita
                        </th>*@
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Detalle
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                @{
                                    int registros = 0;
                                }
                            </thead>
                            @foreach (var item in Model.Orthodontics.OrderByDescending(o => o.Ortodoncia).ToList())
                            {
                                <tr>
                                    @*<td>
                            @Html.DisplayFor(modelItem => item.Ortodoncia)
                        </td>*@
                                    <td style="width:108px;">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Detalle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    @{
                                        registros += +1;
                                    }
                                    <td style="width:100px;">
                                        @if (item.Cerrado == false)
                                        {
                                            <a title="Editar" href="@Url.Action("Visit", new { id = item.OrthodonticId })" class="btn btn-outline-warning btn-sm">
                                                <i class="fa fa-pencil-alt"></i>
                                            </a>
                                            if (item.Total == 0)
                                            {
                                                <a title="Borrar" href="@Url.Action("DeleteOrthodon", new { id = item.OrthodonticId })" class="btn btn-outline-danger btn-sm" onclick="return confirm('Desea Eliminar este Registro?')">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            }
                                        }
                                        @if (item.Cerrado == true)
                                        {
                                            <a title="Detail" href="@Url.Action("Visit", new { id = item.OrthodonticId })" class="btn btn-outline-info btn-sm">
                                                <i class="fa fa-clipboard-list"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                        <hr/>
                        <strong>Registros: @registros</strong>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddEstimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body"><div class="te">Please wait...</div></div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditEstimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body"><div class="te">Please wait...</div></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "a.dialog-window", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var title = $link.text();
                $('#AddEstimate .modal-title').html(title);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#AddEstimate').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#AddEstimate .te').html(data);
                        $('#AddEstimate').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });

                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("body").on("click", "a.dialog-window", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var title = $link.text();
                $('#EditEstimate .modal-title').html(title);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#EditEstimate').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#EditEstimate .te').html(data);
                        $('#EditEstimate').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });

                }
            });
        });
    </script>
}